# Dataset and processed data, too large for GitHub
data/raw/
data/processed/
data/hive/flights_clean/

# Results are generated locally
data/results/*
!data/results/metrics/
!data/results/metrics/execution_times.csv

# Python
__pycache__/
*.pyc
*.pyo
.env

# Spark / Hive logs and metadata
derby.log
metastore_db/
spark-warehouse/
tmp/

# IDE
.idea/
.vscode/

# OS / temp
.DS_Store
Thumbs.db
scripts/Nuevo Documento de texto.txt